<div class="section no-pad-bot" style="z-index: 1; position: relative">
  <div class="container">
    <h1 class="header center white-text text-lighten-2 bg-m-text">
      Maragogi, Alagoas
    </h1>
    <div class="row center">
      <h5 class="header col s12 white-text bg-m-text">
        O paraíso tropical de águas cristalinas e praias deslumbrantes.
      </h5>
    </div>
    <div class="row center">
      <a
        id="destinos"
        class="btn-large waves-effect waves-light teal lighten-1"
        (click)="navToDestinationPage()"
        >Descobrir novos lugares</a
      >
    </div>
  </div>
</div>
