<nav class="white nav-extended">
  <div class="nav-wrapper container">
    <a
      class="brand-logo left cursive"
      (click)="navToWelcomePage()"
      style="cursor: pointer; user-select: none"
      >Adventure</a
    >
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="waves-effect waves-light btn" (click)="navToLoginPage()"
          >Iniciar Sessão</a
        >
      </li>
    </ul>
  </div>
  <div class="bg-main nav-content">
    <ul class="bg-main tabs tabs-transparent container">
      <li class="tab"><a href="#test1">Destinos</a></li>
      <li class="tab"><a href="#test2">Viagens </a></li>
      <li class="tab"><a href="#test4">Roteiros</a></li>
    </ul>
  </div>
</nav>
