<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">
          Projeto de estudo em Angular durante a disciplina de Frameworks Web.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li>
            <a class="white-text" href="#!"
              ><i class="pi pi-linkedin"></i> Linkedin</a
            >
          </li>
          <li>
            <a class="white-text" href="#!"
              ><i class="pi pi-github"></i> GitHub</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by
      <a class="brown-text text-lighten-3" href="http://materializecss.com"
        >Materialize</a
      >
    </div>
  </div>
</footer>
