.contorno {
  color: white !important;
  -webkit-text-stroke: 1px #646363;
}

.contorno-branco {
  color: white !important;
  -webkit-text-stroke: 1px white;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}
