<div class="section no-pad-bot">
  <div class="container">
    <h1 class="header center white-text text-lighten-2">Maragogi, Alagoas</h1>
    <div class="row center">
      <h5 class="header col s12 light">
        O paraíso tropical de águas cristalinas e praias deslumbrantes.
      </h5>
    </div>
    <div class="row center">
      <a
        id="destinos"
        class="btn-large waves-effect waves-light teal lighten-1"
        (click)="navToDestinationPage()"
        >Descobrir novos lugares</a
      >
    </div>
  </div>
</div>

<div class="section no-pad-bot">
  <video autoplay loop class="video" style="padding-bottom: 25rem">
    <source src="../assets/videos/mp4/maragogi.mp4" type="video/mp4" />
  </video>
</div>

<div class="container">
  <div
    class="section no-pad-bot"
    style="padding-top: 1rem; padding-bottom: 1rem"
  >
    <!--padding bootm para aumentar section branca-->
    <div class="row">
      <div class="col s12 m4" style="overflow: hidden">
        <ul>
          <li>
            <a style="cursor: pointer">
              <div class="image-container" style="display: flex">
                <img
                  class="icon-over"
                  alt="Card"
                  src="../../../../assets/img/voos-de-balao.jpg"
                />
                <h5 class="img-text">Voos</h5>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="col s12 m4" style="overflow: hidden">
        <ul>
          <li>
            <a style="cursor: pointer">
              <div class="image-container">
                <img
                  class="icon-over"
                  alt="Card"
                  src="../../../../assets/img/lugares-turisticos.jpg"
                />
                <h5 class="img-text">Lugares Turísticos</h5>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="col s12 m4" style="overflow: hidden">
        <ul>
          <li>
            <a style="cursor: pointer">
              <div class="image-container">
                <img
                  class="icon-over"
                  alt="Card"
                  src="../../../../assets/img/rio-de-janeiro.jpg"
                />
                <h5 class="img-text">Praias</h5>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section no-pad-bot">
  <div class="container">
    <div class="card">
      <div class="row container center">
        <h5
          class="header col s12 light"
          style="
            color: black;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif, Arial, sans-serif;
          "
        >
          Turismo no Brasil
        </h5>
        <p style="text-align: justify">
          O turismo desempenha um papel fundamental na economia de muitos países
          ao redor do mundo, oferecendo a oportunidade de conhecer culturas
          diversas, apreciar paisagens deslumbrantes e experimentar culinárias
          locais. Seja você um amante de praias paradisíacas, montanhas
          majestosas, cidades vibrantes ou destinos rurais, o turismo
          proporciona uma ampla gama de opções para satisfazer os desejos de
          todos os viajantes. Além disso, promove o intercâmbio cultural e o
          entendimento mútuo entre pessoas de diferentes origens, tornando-se
          uma força positiva na promoção da paz e harmonia global.
        </p>
        <p style="text-align: justify">
          O setor de turismo é um dos mais importantes da economia, sendo
          responsável por grande parte da geração de riqueza em países como
          Itália, França e Espanha. Globalmente, a cadeia do turismo contribui
          com 10,4% do Produto Interno Bruto (PIB). O Brasil possui um imenso
          potencial no turismo, devido à variedade de paisagens naturais, como
          praias, roteiros pela Mata Atlântica e Amazônia, bem como destinos
          histórico-culturais. Apesar disso, o Brasil recebe apenas 0,5% de
          todos os turistas do mundo, indicando um vasto espaço para o
          crescimento do setor e oportunidades significativas para atuar,
          envolvendo uma ampla gama de produtos e serviços, incluindo
          transporte, hospedagem, alimentação, passeios e souvenirs.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section no-pad-bot">
  <div class="container">
    <div class="row center">
      <h5
        class="header col s12 light"
        style="
          color: black;
          font-weight: bold;
          font-family: 'Montserrat', sans-serif, Arial, sans-serif;
        "
      >
        Galerias
      </h5>
    </div>

    <div class="row center">
      <p-galleria
        [value]="data"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [showIndicators]="true"
        [showIndicatorsOnItem]="true"
        [containerStyle]="{ 'max-width': '1920px' }"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" style="width: 100%; display: block" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" style="display: block" />
          </div>
        </ng-template>
      </p-galleria>
    </div>
  </div>
</div>

<div class="bg-main">
  <div class="section container">
    <div class="row">
      <div class="col s12 center">
        <h4>Contato</h4>
        <ul>
          <li>(99) 9 9999-9999</li>
          <li>
            {{ email }}
          </li>
          <li>27, Rua Lorem Ypsum, Generico, GR 99999999</li>
        </ul>
      </div>
    </div>
  </div>
</div>
