<nav class="white nav-extended">
  <div class="nav-wrapper container">
    <a
      class="brand-logo left fancy-heading clickable-no-select"
      (click)="redirectToWelcomePage()"
      >Adventure</a
    >
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="waves-effect waves-light btn" (click)="redirectToLoginPage()"
          >Iniciar Sessão</a
        >
      </li>
      <li>
        <a
          *ngIf="loggedUser"
          class="waves-effect waves-light btn"
          (click)="redirectToUserPage()"
          ><span class="pi pi-user"></span
        ></a>
      </li>
    </ul>
  </div>
  <div class="bg-main nav-content">
    <ul class="bg-main tabs tabs-transparent container">
      <li class="tab">
        <a class="clickable-no-select" (click)="redirectToDestinationPage()"
          >Destinos</a
        >
      </li>
      <li class="tab">
        <a class="clickable-no-select" (click)="redirectToTravelPage()"
          >Viagens
        </a>
      </li>
      <li class="tab">
        <a class="clickable-no-select" (click)="redirectToRoadmapPage()"
          >Roteiros</a
        >
      </li>
    </ul>
  </div>
</nav>
