<p-table
  [columns]="cols"
  [value]="values"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <ng-container *ngIf="col.currency; else noCurrency">{{
          rowData[col.field] | currency : "R$"
        }}</ng-container>
        <ng-template #noCurrency>{{ rowData[col.field] }}</ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>