.container {
  min-height: 74.97vh;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.label {
  width: 100px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-20 {
  margin-right: 20px;
}
