<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="text-lighten-4">Contato</h5>
        <ul>
          <li>(99) 9 9999-9999</li>
          <li>
            {{ email }}
          </li>
          <li>27, Rua Lorem Ypsum, Generico, GR 99999999</li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li>
            <a class="white-text" href="#!"
              ><i class="pi pi-linkedin"></i> Linkedin</a
            >
          </li>
          <li>
            <a class="white-text" href="#!"
              ><i class="pi pi-github"></i> GitHub</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="col l6 s12">
        Projeto de estudo em Angular durante a disciplina de Frameworks Web.
      </div>
    </div>
  </div>
</footer>
