@import 'src/assets/css/materialize.min.scss';
@import 'src/assets/css/style.scss';
@import 'src/assets/fonts/fonts.scss';
@import 'primeicons/primeicons.css';

.p-password {
  position: relative;
  display: inline-flex;
  width: 100%;
}
