@import '../src/assets/css/materialize.min.css';
@import '../src/assets/css/style.css';
@import '../src/assets/fonts/fonts.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeflex/primeflex.css';

.p-password {
  position: relative;
  display: inline-flex;
  width: 100%;
}
